@import url('bootstrap/bootstrap.min.css');
@import url('redefault.min.css');
@import url('https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css');

#logo {
  float:left;
}
.form-container {
  display: grid;
  max-width: 99em;
  grid-template-columns: auto; 
  gap: 0.5em;
  font-size: 1.3em;
  clear: both;
  padding-top: 1.3em;
}
input, select, button {
  font-size: 1em;
}
.fullrow {
  grid-column: 1 / -1;
}
.update-btn {
  grid-column-start: 1;
}
@media (min-width: 30em) { 
  .form-container{
    grid-template-columns: 1fr 4fr; 
  }
  .update-btn {
    grid-column-start: 2;
  }
}
header a:link, header a:visited, header a:hover, header a:active {
  color: black; text-decoration: none;
}
main, .section, footer {
  margin: 10px;
}
.section {
  text-align: left;
}
.results {
  text-align: center;
}